spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kafka_redis?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: app
    password: app1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    defer-datasource-initialization: true
  data:
    redis:
      port: 6379
      host: localhost
  kafka:
    bootstrap-servers: localhost:9092,localhost:9093,localhost:9094